language: php

php:
  - 7.2
  - 7.3

install:
  - travis_retry composer self-update
  - travis_retry composer install --no-interaction --prefer-dist
  - travis_retry wget https://scrutinizer-ci.com/ocular.phar

script:
  - phpunit --coverage-text --coverage-clover=coverage.clover

after_script:
  - php ocular.phar code-coverage:upload --format=php-clover coverage.clover
